<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        var isLogedIn = @(User.Identity.IsAuthenticated ? 1 : 0);
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phone Studio - @ViewBag.Title</title>

    <!-- Bootstrap -->
    @*<link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/alt info 2.css")" rel="stylesheet">
    <link href="@Url.Content("/css/Style.css")" rel="stylesheet">
    <!--Data tables-->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-inverse fixed-top " >
        @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
        <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->

        @Html.ActionLink(" Northwind Phone", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li id="services" class="nav-item">
                    @Html.ActionLink("Services", "Index", "Services", null, new { @class = "nav-link active" })
                </li>
                <li id="portfolio" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Products</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Classical", "Products", "Products", new { category = "Classical" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Smartphone", "Products", "Products", new { category = "Smartphone" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Accessory", "Products", "Products", new { category = "Accessory" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Gadgets", "Products", "Products", new { category = "Gadgets" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("eBook readers", "Products", "Products", new { category = "eBook Reader" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Services", "Products", "Products", new { category = "Services" }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li id="others" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Other information</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("The advantages of the online store", "FullWidth", "Other", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Back-up insurance", "Sidebar", "Other", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Frequent questions", "Faq", "Other", null, new { @class = "dropdown-item" })
                    </div>
                </li>

                <li id="about" class="nav-item">
                    @Html.ActionLink("About us", "Index", "About", null, new { @class = "nav-link" })
                </li>
                <li id="contact" class="nav-item">
                    @Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>

                <li id="other" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i><b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <div class="col-lg-12">
                            <form id="searchInput" action="/Products/Products">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control searchinput" 
                                           style="width:auto" placeholder="Search in products">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->
        <!--shopcart icon-->
        <div class="shopcartcontainer">
            <a href="@Url.Action("Index","ShopCart")" class="shopcart-link">
                <div class="align-middle img-circle roundedshop">
                    <i class="fa fa-shopping-cart align-middle"></i>
                    <div class="shopcart-container-text">
                        <span id="shopcart-productcount">0</span>
                    </div>
                </div>
            </a>
        </div>

        <!-- /.container -->
    </nav>

    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Northwind Phone 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script src="~/js/jquery.min.js"></script>

    <script src="@Url.Content("/js/script.js")"></script>

    @*<script src="~/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/js/ShopCart.js"></script>
    <script src="~/js/ShopCartDataTable.js"></script>
    <script src="~/js/OrderDatatable.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
