@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using NorthwindWeb.Models
@using NorthwindWeb.Context

@{
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
}
@if (Request.IsAuthenticated)
{
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline navbar-right" }))
        {
            @Html.AntiForgeryToken()
        }
       
        <a href=# class="dropdown-toggle" data-toggle="dropdown">User: @HttpUtility.HtmlDecode(User.Identity.GetUserName())<b class="caret"></b></a>
        <ul class="dropdown-menu">
            @if (userManager.IsInRole(User.Identity.GetUserId(), "Managers") || userManager.IsInRole(User.Identity.GetUserId(), "Admins"))
            {
                <li id="dashboard" class="nav-item">
                    @Html.ActionLink("Dashboard", "Home", "Dashboard",null, new { @class = "nav-link" })
                </li>
            }
            <li  class="nav-item">
                @Html.ActionLink("Manage", "Index", "Manage", null, new { @class = "nav-link" })
            </li>
            @if (userManager.IsInRole(User.Identity.GetUserId(), "Managers")|| userManager.IsInRole(User.Identity.GetUserId(), "Admins"))
            {
                <li id="orders"  class="nav-item">
                    @Html.ActionLink("Order List", "HomeAdmin", "Order", null, new { @class = "nav-link" })
                </li>
            }
            @if (userManager.IsInRole(User.Identity.GetUserId(), "Employees"))
            {
                <li id="userOrders"  class="nav-item">
                    @Html.ActionLink("Assigned commands", "Home", "Order", null, new { @class = "nav-link" })
                </li>
            }
            @if (userManager.IsInRole(User.Identity.GetUserId(), "Customers"))
            {
                <li id="userOrders"  class="nav-item">
                    @Html.ActionLink("'" + User.Identity.GetUserName() + "' Orders", "HomeCustomers", "Order", null, new { @class = "nav-link" })
                </li>
            }
        </ul>
    </li>
    <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out</a></li>
}
else
{
    <li class="nav-item">@Html.ActionLink("New user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
}
